/* =============================================ФУТЕР ЕМА */
.bottom-element {
    width: 100%;
    background-color: #AECF98;
    padding: 30px;
    margin: 0;
    position: relative;
    left: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

/* Колонки футера */
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 1px;
}

.footer-column.center {
    align-items: center;
    text-align: center;
}

.footer-column.right {
    align-items: flex-end;
    text-align: right;
}

/* Логотип */
.footer-logo {
    width: 100px;
    height: auto;
}

/* Ссылки */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    gap: 15px;
    /* Расстояние между элементами */
}

.footer-links li {
    margin: 0;
    /* Сбрасываем отступы, чтобы не было двойных */
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease;
}

.footer-links a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer-links a:hover {
    color: #5E8D3D;
}

.footer-links a:hover::after {
    transform: scaleX(1);
}

/* Email и иконки */
.email {
    font-weight: 400;
    margin-bottom: 10px;
}

.telegram-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.developer-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.developer-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.developer-link:hover {
    color: #5E8D3D;
}

.developer-link:hover::after {
    transform: scaleX(1);
}

/* Логотипы партнерів */
.partners {
    display: flex;
    gap: 10px;
}

.partner-logo {
    height: 40px;
    width: auto;
}