.btn {
    box-sizing: border-box;
    align-self: center;
    border-radius: 8px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    margin-top: 10px;
    transition: all 0.2s;
}

.btn.primary {
    background-color: #3e6b38;
    color: white;
}

.btn:hover {
    background-color: #AECF98;
    border: 2px solid #294A2B;
    color: black;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .btn {
        width: 60%;
        padding: 10px 16px;
    }

    .container {
        width: 80%;

    }
}


@media (max-width: 450px) {

    .container {
        width: 90%;
    }

}