@import url('reset.css');
@import url('litleThings.css');
@import url('footer.css');
body {
    height: 100vh;
    font-family: Comfortaa;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40vw;
}


.container {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.container h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
}
/* Кнопки */
.btn {
    align-self: center;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: Comfortaa;

    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.2s;
}

.btn.primary {
    background-color: #3e6b38;
    color: white;
}
.btn:hover {
    background-color: #AECF98;
    border: 2px solid #294A2B;
    color: black;
}
.type-email {
    font-size: 14px;
}

.btn.secondary {
    background-color: #264d2c;
    color: white;
}